* {
    margin: 0;
    padding: 0;
    cursor: none;
    text-decoration: none;
    font-family: 'Radley', serif;
    box-sizing: border-box;
}
body {
    color: #333;
    background: #ffe2c7; /*#FFE2C7 */
    font-size: 30px;
    height: 100vh;
    overflow: hidden;
    transition: .5s;
}
a {
    color: #333;
}

/* Cursor events */
#cursor, #aura {
    position: absolute;
    border-radius: 100%;
    transition: .1s, cubic-bezier(.64,.02,.41,.99) transform, .2s cubic-bezier(.64,.02,.41,.99) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 1000;
}
#cursor {
    width: 10px;
    height: 10px;
    transform: scale(1);
    background: rgba(51, 51, 51, .5); 
}
#cursor.cursor-active {
    opacity: 0;
    transform: scale(0);
}
#aura {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(51, 51, 51, .2);
    background: rgba(51, 51, 51, .05);
}
#aura.cursor-active {
    border: 1.4px solid rgba(51, 51, 51, .4);
    transform: scale(1.2);
    transition: .1s;
}

/* animation */
.active {
    border-bottom: 1px solid #000;
}
.animate {
    opacity: 0;
    transform: translateY(20%);
}
.nav-group p {
    margin-top: 10px;
    line-height: 190%;
}
.nav {
    position: relative;
}
.nav::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}
.nav:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    border-bottom: 1px solid #000;
    z-index: -1;
    transition: transform .3s ease-in-out;
 }


 /* main block */

.main-section {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding: 140px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-wrapper, .main-group {
    display: flex;
}
.main-group {
    width: 920px;
    height: auto;
    align-items: flex-start;
}
.star-icon {
    width: 46px;
    margin-top: 14px;
    margin-right: 30px;
    user-select: none;
    opacity: 0;
}

.main-title {
    width: 660px;
    font-size: 54px;
    transform: translateY(5%);
    opacity: 0;

}
.flag-icon {
    width: auto;
    height: 60px;
    margin-left: 16px;
    transform: translateY(14px);
    transition: .4s;
    opacity: 0;
}
.uz-hover:hover .flag-icon {
    opacity: 1;
}


/* skills block */

.skills-group {
    display: none;
    width: 660px;
}
.skill-group-items {
    margin-bottom: 40px;
}
.skill-title {
    margin-bottom: 10px;
    font-size: 20px;
}
.skill {
    display: inline-block;
    margin-right: 20px;
}


/* contact block */
.contact-group {
    display: none;
}
.contact-group-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.contact-row {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-title {
    width: 300px;
    margin-top: 12px;
    margin-bottom: 40px;
    font-size: 40px;
}
.contact-num-group {
    width: 270px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-bottom: 10px;
}
.phone {
    margin-right: 50px;
}
.contact-num-title {
    font-size: 20px;
    margin-bottom: 10px; 
}
form input {
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    background-color: transparent;
    border: 1px solid #333;
    outline: none;
}
form input:first-child {
    margin-top: 20px;
}
textarea.msg {
    width: 300px;
    height: 160px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    background-color: transparent;
    border: 1px solid #333;
    resize: none;
    outline: none;
}
.btn {
    width: 300px;
    height: 60px;
    color: #f1f1f1;
    border: none;
    background-color: #333;
    font-size: 20px;
    outline: none;
    transition: .2s;
}
.btn:hover {
    background-color: #494949;
}

/* navigate block */

.skills {
    margin-right: 42px;
}
.contact {
    margin-right: 12px;
}
.back-main {
    width: 114px;
    margin-top: 40px;
}


/* footer block */

.footer-wrapper, .logo-group {
    display: flex;
    justify-content: space-between;

    align-items: flex-end;
}
.logo {
    user-select: none;
    margin-right: 33px;
    margin-bottom: 8px;
}
.social-group {
    width: 300px;
}
.social-group a {
    margin: 0 20px;
}

@media (max-width: 1180px) {
    .footer-wrapper {
        text-align-last: end;
    }
    .social-group a {
        margin: 0 10px;
    }
}

@media (max-width: 1000px) {
    * {
        cursor: default;
    }
    body {
        font-size: 24px;
    }
    #cursor, #aura {
        display: none;
    }
    .main-title {
        max-width: 560px;
        font-size: 46px;
    }
    .social-group a {
        margin: 0 10px;
    }
    .flag-icon {
        display: none;
    }
    .logo {
        margin-right: 25px;
        margin-bottom: 5px;
    }
    .heart-icon {
        width: 20px;
        height: 20px;
    }
    .star-icon {
        margin-top: 10px;
    }
}

@media (max-width: 860px) {
    body {
        overflow-y: auto;
    }
    .main-wrapper, .contact-group-wrapper {
        flex-direction: column;
    }
    .main-group {
        width: auto;
    }
    .nav-group {
        width: 100px;
        margin-top: 60px;
        margin-left: 80px;
    }
    .logo-group {
        margin-left: 80px;
    }
    .social-group {
        width: auto;
    }
    .social-group a {
        margin: 0 5px;
    }
}

@media (max-width: 700px) {
    .main-section {
        padding-top: 100px;
    }
    .main-title {
        max-width: 340px;
        font-size: 38px;
        margin-bottom: 60px;
    }
    .nav-group {
        margin-top: 0;
        margin-left: 52px;
    }
    .logo-group {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 52px;
    }
    .logo {
        width: 30px;
        height: auto;
        margin-left: 2px;
    }
    .star-icon {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .skill {
        margin-right: 14px;
    }
}

@media (max-width: 500px) {
    .main-section {
        padding: 100px 20px 40px 20px;   
    }
    .main-title {
        width: 100%;
    }
    .social-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-group {
        margin-top: 15%;
    }
    .back-main {
        width: 120px;
        margin: 0;
    }
    .nav-group {
        margin-top: 0;
    }
    .skill-title {
        font-size: 16px;
        margin-bottom: 4px;
    }
}

@media (max-width: 468px) {
    .social-group {
        display: flex;
        flex-direction: column;
    }
    .skill-group-items {
        margin-bottom: 20px;
    }
}
@media (max-width: 380px) {
    body {
        font-size: 20px;
    }
    .main-section {
        padding-top: 80px;  
    }
    .main-title {
        width: 280px;
        font-size: 32px;
        margin-bottom: 20px;
    }
    .nav-group {
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .star-icon {
        margin-top: 5px;
    }
    .skills-group {
        margin-top: -16px;
    }
    .main-title {
        font-size: 28px;
    }
    .main-section {
        padding: 60px 20px 20px 15px;  
    }
    .nav-group {
        margin-top: 10px;
    }
    .nav-group p {
        margin-top: 0;
    }
}

@media (max-width: 280px) {
    .main-title {
        font-size: 25px;
    }
    .star-icon {
        margin-right: 10px;
    }
    .logo-group {
        margin-left: 4px;
        margin-right: 10px;
    }
    .heart-icon {
        width: 15px;
        height: 12px;
    }
    .nav-group {
        margin-left: 42px;
    }
}